<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p %C::%t:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.github.thesmartenergy.sparql.generate" level="trace" additivity="false">
        </Logger>
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
