<p>SPARQL-Generate extends a sub-set of the <a href="https://ns.inria.fr/sparql-template/">SPARQL-Template language (a.k.a. STTL)</a>, and can generate text from RDF <b>and documents</b>.</p>

<p>The <b><tt>TEMPLATE</tt> clause</b> is used to specify a text pattern that is instantiated for each solution of the where clause, and optionally joined with a <code>&lt;separator&gt;</code> string. Its syntax is as follows:</p>

<div class="source"><pre>TEMPLATE { (&lt;TExpression&gt;)* ( ; separator = &lt;separator&gt; )? }</pre></div>

<p>The <code>&lt;TExpression&gt;</code>s in the text pattern can be of different types, we will overview each of them in this tutorial.</p>

<p>The simplest possible <code>&lt;TExpression&gt;</code> are constants (literals) and evaluable expressions (variables, function calls, etc.).</p>

<p>The example below lists the names, URLs, latitude, and longitude, of the weather stations that are described in the default graph of the RDF Dataset.</p>
