# Test Reports


## CSV Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| [SimpleCSV](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/simplecsv)        	| An example to generate RDF from a CSV file                             	| Pass   	|
| [CustomCSVEg1](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/customcsveg1)     	| Simple RDF generation from CSV with different dialect                        	| Pass   	|

## XML Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| [XMLTest1](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/xmltest1)        	| A simple example to generate RDF from a XML file                             	| Pass   	|


## JSON Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| [JSONTest1](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/jsontest1)        	| A simple example to generate RDF from a JSON file                            	| Pass   	|



## Regular Expression Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| [RegexEg1](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/regexeg1)         	| Simple regular expression example                                            	| Pass   	|
| [RegexEg2](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/regexeg2)         	| Another much simple regular expression example                               	| Pass   	|

## HTML Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| [HTMLTest1](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/htmltest1)        	| Simple RDF generation from HTML using CSS Selectors                          	| Pass   	|

## CBOR Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| [CBORVenueEg1](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/cborvenueeg1)     	| A CBOR example                                                               	| Pass   	|


## RML Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| [RMLSpecEg1](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlspeceg1)       	| RML CSV Example 1 from RML specification found [here](http://rml.io/spec.html#example-CSV)                          	| Pass   	|
| [RMLSpecEg2](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlspeceg2)       	| RML XML Example 2 from RML specification found [here](http://rml.io/spec.html#example-XML)                          	| Pass   	|
| [RMLSpecEg3](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlspeceg3)       	| RML JSON Example 3 from RML specification found [here](http://rml.io/spec.html#example-JSON)                         	| Pass   	|
| [RMLSpecEg4](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlspeceg4)       	| RML multiple heterogenous sources (XML,CSV,JSOn) from RML specification page  found [here](http://rml.io/spec.html#integrated-mapping)	| Pass   	|
| [RMLProEg1](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproeg1)        	| RML Example 1 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example1)                                                     	| Pass   	|
| [RMLProEg2](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproeg2)        	| RML Example 2 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example2)                                                     	| Pass   	|
| [RMLProEg3](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproeg3)        	| RML Example 3 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example3)                                                     	| Pass   	|
| [RMLProEg4](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproeg4)        	| RML Example 4 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example4)                                                     	| Pass   	|
| [RMLProEg5](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproeg5)        	| RML Example 5 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example5)                                                     	| Pass   	|
| [RMLProEg6](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproeg6)        	| RML Example 6 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example6)                                                     	| Pass   	|
| [RMLProEg7](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproeg7)        	| RML Example 7 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example7)                                                     	| Pass   	|
| [RMLProEg8](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproeg8)        	| RML Example 8 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example8)                                                     	| Pass   	|
| [RMLProEg9](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproeg9)        	| RML Example 9 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example9)                                                     	| Pass   	|
| [RMLLanguageMapEg](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmllanguageMapEg) 	| RML language map example found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/exampleLanguageMap)                                          	| Pass   	|
| [RMLProEgCSVW](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproegcsvw) 	| RML CSVW example found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/exampleCSVW)                                          	| Pass   	|
| [RMLProEgHydraSPARQL](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproegcsvw) 	| RML CSVW example found [here](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/rmlproeghydra)                                          	| Pass   	|


## XSPARQL Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| [XSPARQLEg1](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/xsparql1)       	| XSPARQL Example 3.1 foaf_lifting_naive.xsparql found [here](https://www.w3.org/Submission/xsparql-implementation/#sec:testcases1)                    	| Pass   	|
| [XSPARQLEg2](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/xsparql2)       	| XSPARQL Example 3.2 foaf_lifting.xsparql found [here](https://www.w3.org/Submission/xsparql-implementation/#sec:testcases2)                          	| Pass   	|

## CSVW Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| [SimpleCSVWNoHeader](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/simplecsvwnoheader)        	| An example to generate RDF from a CSV file with a different dialect not having a header                            	| Pass   	|
| [SimpleCSVWWithHeader](https://github.com/thesmartenergy/sparql-generate/tree/develop/sparql-generate-jena/src/test/resources/simplecsvwwithheader)        	| An example to generate RDF from a CSV file with a different dialect having a header                            	| Pass   	|
