# Test Reports

For the exhaustive list, check out https://github.com/sparql-generate/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/


| Language | Test Name | Description | Status |
|----------|------------------ |------------------------------------------------------------------------------ |-------- |
| | [bnode1](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/bnode1) | Testing the management of blank nodes | Pass |
| | [bnode2](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/bnode2) | Testing the management of blank nodes | Pass |
|CSV | [SimpleCSV](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/simplecsv) | An example to generate RDF from a CSV file | Pass |
|CSV | [CustomCSVEg1](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/customcsveg1) | Simple RDF generation from CSV with different dialect | Pass |
|CSV Streams | [CustomCSVEg1](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/csvstream) | Simple RDF generation from CSV with different dialect | Pass |
|XML | [XMLTest1](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/xmltest1) | A simple example to generate RDF from a XML file | Pass |
|XML | [charghingplan](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/chargingplan) | A more complex example dealing with charging plans of electric vehicles | Pass |
|JSON | [JSONTest1](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/jsontest1) | A simple example to generate RDF from a JSON file | Pass |
|Regex | [RegexEg1](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/regexeg1) | Simple regular expression example | Pass |
|Regex | [RegexEg2](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/regexeg2) | Another much simple regular expression example | Pass |
| HTML | [HTMLTest1](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/htmltest1) | Simple RDF generation from HTML using CSS Selectors | Pass |
| CBOR | [CBORVenueEg1](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/cborvenueeg1) | A CBOR example | Pass |
| CSV | [RMLSpecEg1](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlspeceg1) | RML CSV Example 1 from RML specification found [here](http://rml.io/spec.html#example-CSV) | Pass |
| XML | [RMLSpecEg2](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlspeceg2) | RML XML Example 2 from RML specification found [here](http://rml.io/spec.html#example-XML) | Pass |
| JSON | [RMLSpecEg3](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlspeceg3) | RML JSON Example 3 from RML specification found [here](http://rml.io/spec.html#example-JSON) | Pass |
|XML, CSV, JSON | [RMLSpecEg4](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlspeceg4) | RML multiple heterogenous sources (XML,CSV,JSON) from RML specification page found [here](http://rml.io/spec.html#integrated-mapping) | Pass |
| XML | [RMLProEg1](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlproeg1) | RML Example 1 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example1) | Pass |
| XML | [RMLProEg2](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlproeg2) | RML Example 2 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example2) | Pass |
| XML, JSON, CSV | [RMLProEg3](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlproeg3) | RML Example 3 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example3) | Pass |
| XML | [RMLProEg4](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlproeg4) | RML Example 4 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example4) | Pass |
| JSON | [RMLProEg5](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlproeg5) | RML Example 5 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example5) | Pass |
| JSON, CSV | [RMLProEg6](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlproeg6) | RML Example 6 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example6) | Pass |
| XML | [RMLProEg7](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlproeg7) | RML Example 7 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example7) | Pass |
| CSV | [RMLProEg8](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlproeg8) | RML Example 8 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example8) | Pass |
| XML | [RMLProEg9](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlproeg9) | RML Example 9 found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/example9) | Pass |
| XML | [RMLLanguageMapEg](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmllanguageMapEg) | RML language map example found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/exampleLanguageMap) | Pass |
| CSV | [RMLProEgCSVW](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/rmlproegcsvw) | RML CSVW example found [here](https://github.com/RMLio/RML-Processor/tree/master/src/test/resources/exampleCSVW) | Pass |
| JSON | [Venue](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/venue) | equivalent to a RML implementation unit test found [here](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/venue) | Pass |
| XML | [XSPARQLEg1](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/xsparql1) | XSPARQL Example 3.1 foaf_lifting_naive.xsparql found [here](https://www.w3.org/Submission/xsparql-implementation/#sec:testcases1) | Pass |
| XML | [XSPARQLEg2](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/xsparql2) | XSPARQL Example 3.2 foaf_lifting.xsparql found [here](https://www.w3.org/Submission/xsparql-implementation/#sec:testcases2) | Pass |
| CSV | [SimpleCSVWNoHeader](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/simplecsvwnoheader) | An example to generate RDF from a CSV file with a different dialect not having a header | Pass |
| CSV | [SimpleCSVWWithHeader](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/simplecsvwwithheader) | An example to generate RDF from a CSV file with a different dialect having a header | Pass |
| CSV | [CSVW](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/csvw/tests) | Test case 001 from the CSVW test suite | Pass |
| JSON | [poptest](https://github.com/thesmartenergy/sparql-generate/tree/master/sparql-generate-jena/src/test/resources/poptest) | Testing with four sources | Pass |
