# Test Reports


## CSV Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| SimpleCSV        	| A simple example to generate RDF from a CSV file                             	| Pass   	|
| CustomCSVEg1     	| Simple RDF generation from CSV with different dialect                        	| Pass   	|


## XML Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| XMLTest1        	| A simple example to generate RDF from a XML file                             	| Pass   	|


## JSON Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| JSONTest1        	| A simple example to generate RDF from a JSON file                            	| Pass   	|



## Regular Expression Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| RegexEg1         	| Simple regular expression example                                            	| Pass   	|
| RegexEg2         	| Another much simple regular expression example                               	| Pass   	|

## HTML Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| HTMLTest1        	| Simple RDF generation from HTML using CSS Selectors                          	| Pass   	|

## CBOR Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| CBORVenueEg1     	| A CBOR example                                                               	| Pass   	|


## RML Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| RMLSpecEg1       	| RML CSV Example 1 from RML specification found here                          	| Pass   	|
| RMLSpecEg2       	| RML XML Example 2 from RML specification found here                          	| Pass   	|
| RMLSpecEg3       	| RML JSON Example 3 from RML specification found here                         	| Pass   	|
| RMLSpecEg4       	| RML multiple heterogenous sources (XML,CSV,JSOn) from RML specification page 	| Pass   	|
| RMLProEg1        	| RML Example 1 found here                                                     	| Pass   	|
| RMLProEg4        	| RML Example 4 found here                                                     	| Pass   	|
| RMLProEg5        	| RML Example 5 found here                                                     	| Pass   	|
| RMLProEg7        	| RML Example 7 found here                                                     	| Pass   	|
| RMLProEg8        	| RML Example 8 found here                                                     	| Pass   	|
| RMLProEg9        	| RML Example 9 found here                                                     	| Pass   	|
| RMLLanguageMapEg 	| RML language map example found here                                          	| Pass   	|


## XSPARQL Tests

| Test Name        	| Description                                                                  	| Status 	|
|------------------	|------------------------------------------------------------------------------	|--------	|
| XSPARQLEg1       	| XSPARQL Example 3.1 foaf_lifting_naive.xsparql found here                    	| Pass   	|
| XSPARQLEg2       	| XSPARQL Example 3.2 foaf_lifting.xsparql found here                          	| Pass   	|
