<p>Like for SPARQL-Generate, SPARQL-Template queries may be modularized. A SPARQL-Template query can call another SPARQL-Template queries, provided this other query is named and declares parameters.</p>

<p>The binding function <a href="http://ns.inria.fr/sparql-template/call-template">http://ns.inria.fr/sparql-template/call-template</a>, abbreviated <code>st:call-template</code> can be used to call a SPARQL-Template queries by its name, and pass it arguments:</p> 

<ul>
<li>Param 1: (template): the URI of the SPARQL-Template query;</li>
<li>Param 2 .. N : (arguments ... ) the arguments with which the query will be called.</li>
</ul>

</p>The example below generates a simple JSON document from the reports.</p>
