
RewriteRule  fn/?$ /sparql-generate/apidocs/allclasses-noframe.html [R=302]

RewriteRule fn/camelCase "/sparql-generate/apidocs/fr/emse/ci/sparqlext/function/library/FUN_CamelCase.html" [R=302]
RewriteRule fn/CBOR "/sparql-generate/apidocs/fr/emse/ci/sparqlext/json/FUN_CBOR.html" [R=302]
RewriteRule fn/CSSPath "/sparql-generate/apidocs/fr/emse/ci/sparqlext/xml/FUN_CSSPath.html" [R=302]
RewriteRule fn/dateTime "/sparql-generate/apidocs/fr/emse/ci/sparqlext/function/library/FUN_dateTime.html" [R=302]
RewriteRule fn/GeoJSONGeometry "/sparql-generate/apidocs/fr/emse/ci/sparqlext/geojson/FUN_GeoJSONGeometry.html" [R=302]
RewriteRule fn/HTMLtoXML "/sparql-generate/apidocs/fr/emse/ci/sparqlext/xml/FUN_HTMLtoXML.html" [R=302]
RewriteRule fn/JSONPath "/sparql-generate/apidocs/fr/emse/ci/sparqlext/json/FUN_JSONPath.html" [R=302]
RewriteRule fn/log "/sparql-generate/apidocs/fr/emse/ci/sparqlext/function/library/FUN_Log.html" [R=302]
RewriteRule fn/Markdown "/sparql-generate/apidocs/fr/emse/ci/sparqlext/function/library/FUN_Markdown.html" [R=302]
RewriteRule fn/mixedCase "/sparql-generate/apidocs/fr/emse/ci/sparqlext/function/library/FUN_MixedCase.html" [R=302]
RewriteRule fn/prefixedIRI "/sparql-generate/apidocs/fr/emse/ci/sparqlext/function/library/FUN_PrefixedIRI.html" [R=302]
RewriteRule fn/property "/sparql-generate/apidocs/fr/emse/ci/sparqlext/function/library/FUN_Property.html" [R=302]
RewriteRule fn/regex "/sparql-generate/apidocs/fr/emse/ci/sparqlext/function/library/FUN_regex.html" [R=302]
RewriteRule fn/call-template "/sparql-generate/apidocs/fr/emse/ci/sparqlext/function/library/FUN_Select_Call_Template.html" [R=302]
RewriteRule fn/SplitAtPosition "/sparql-generate/apidocs/fr/emse/ci/sparqlext/function/library/FUN_SplitAtPostion.html" [R=302]
RewriteRule fn/titleCase "/sparql-generate/apidocs/fr/emse/ci/sparqlext/function/library/FUN_TitleCase.html" [R=302]
RewriteRule fn/XPath "/sparql-generate/apidocs/fr/emse/ci/sparqlext/xml/FUN_XPath.html" [R=302]


RewriteRule iter/?$ /sparql-generate/apidocs/allclasses-noframe.html [R=302]

RewriteRule iter/Call-Select "/sparql-generate/apidocs/fr/emse/ci/sparqlext/iterator/library/ITER_Call_Select.html" [R=302]
RewriteRule iter/CBOR "/sparql-generate/apidocs/fr/emse/ci/sparqlext/json/ITER_CBOR.html" [R=302]
RewriteRule iter/CSSPath "/sparql-generate/apidocs/fr/emse/ci/sparqlext/xml/ITER_CSSPath.html" [R=302]
RewriteRule iter/CSV "/sparql-generate/apidocs/fr/emse/ci/sparqlext/csv/ITER_CSV.html" [R=302]
RewriteRule iter/CSVHeader "/sparql-generate/apidocs/fr/emse/ci/sparqlext/csv/ITER_CSVHeaders.html" [R=302]
RewriteRule iter/defaultGraphNamespaces "/sparql-generate/apidocs/fr/emse/ci/sparqlext/iterator/library/ITER_DefaultGraphNamespaces.html" [R=302]
RewriteRule iter/for "/sparql-generate/apidocs/fr/emse/ci/sparqlext/iterator/library/ITER_for.html" [R=302]
RewriteRule iter/GeoJSON "/sparql-generate/apidocs/fr/emse/ci/sparqlext/geojson/ITER_GeoJSON.html" [R=302]
RewriteRule iter/HTTPGet "/sparql-generate/apidocs/fr/emse/ci/sparqlext/iterator/library/ITER_HTTPGet.html" [R=302]
RewriteRule iter/JSONListKeys "/sparql-generate/apidocs/fr/emse/ci/sparqlext/json/ITER_JSONListKeys.html" [R=302]
RewriteRule iter/JSONPath "/sparql-generate/apidocs/fr/emse/ci/sparqlext/json/ITER_JSONPath.html" [R=302]
RewriteRule iter/MQTTSubscribe "/sparql-generate/apidocs/fr/emse/ci/sparqlext/mqtt/ITER_MQTTSubscribe.html" [R=302]
RewriteRule iter/regex "/sparql-generate/apidocs/fr/emse/ci/sparqlext/iterator/library/ITER_regex.html" [R=302]
RewriteRule iter/Split "/sparql-generate/apidocs/fr/emse/ci/sparqlext/iterator/library/ITER_Split.html" [R=302]
RewriteRule iter/WebSocket "/sparql-generate/apidocs/fr/emse/ci/sparqlext/ws/ITER_WebSocket.html" [R=302]
RewriteRule iter/XPath "/sparql-generate/apidocs/fr/emse/ci/sparqlext/xml/ITER_XPath.html" [R=302]
RewriteRule iter/SQL "/sparql-generate/apidocs/fr/emse/ci/sparqlext/sql/ITER_SQL.html" [R=302]

